.footer {
    align-items: center;
    display: flex;
    background-color: #06c085;
    justify-content: center;
    margin-left: 175px;
}

.description {
    color: white;
    margin: 10px;
    align-self: center;
    font-size: 15px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}