.logo {
    height: 15%;
    width: 15%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
